<!doctype html>
<html ng-app="calc">
  <head>
    <title>Фінансовий калькулятор</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_uk-ua.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
    <link rel="stylesheet" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <div ng-controller="calculatorCtrl" class="container">
        <p>Лабораторна робота №1<br>з фінансової математики<br>студента гр. ПМ-41 <br> Левантовича Богдана <br>Варіант №9<br></p>

        <h1>Фінансовий калькулятор</h1>
        <!-- <div style="display:inline-block; min-height:290px;">
          <div uib-datepicker ng-model="start" class="well well-sm" datepicker-options="options"></div>
        </div>
        <div style="display:inline-block; min-height:290px;">
          <div uib-datepicker ng-model="end" class="well well-sm" datepicker-options="options"></div>
        </div> -->


        <table class="table">
          <tr>
            <th>Змінна</th>
            <th>Значення</th>
            <th>Невідоме</th>
          </tr>
          <tr>
            <td>FV</td>
            <td><input class="form-control" type="text" ng-model="fv" ng-change="evaluate()"></td>
            <td><input class="radio-inline" type="radio" name="unknown" value="fv"></td>
          </tr>
          <tr>
            <td>PV</td>
            <td><input class="form-control" type="number" ng-model="pv" ng-change="evaluate()"></td>
            <td><input class="radio-inline" type="radio" name="unknown" value="pv"></td>
          </tr>
          <tr>
            <td>n</td>
            <td><input class="form-control" type="number" ng-model="n" ng-change="evaluate()"></td>
            <td><input class="radio-inline" type="radio" name="unknown" value="n"></td>
          </tr>
          <tr>
            <td>d</td>
            <td><input class="form-control" type="number" ng-model="d" step="0.01" ng-change="evaluate()"></td>
            <td><input class="radio-inline" type="radio" name="unknown" value="d"></td>
          </tr>
        </table>

        <h1>Графік</h1>
        <div id="box" class="jxgbox" style="width:1000px; height:800px;"></div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="./jsxgraphcore.js"></script>
    <script src="main.js"></script>
  </body>
</html>
